<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebVR Defender</title>
  <link rel="stylesheet" type="text/css" href="public/styles/inline.css">

  <link rel="icon" type="image/ico" href="public/assets/icons/favicon.ico"/>

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="WebVR Defender">
  <link rel="apple-touch-icon" href="public/assets/icons/icon-128x128.png">
  
  <meta name="msapplication-TileImage" content="public/assets/icons/icon-128x128.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">  
  
  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script src="public/js/easyrtc.js"></script>
  <!-- <script src="https://unpkg.com/networked-aframe/dist/networked-aframe.min.js"></script> -->
  <script src="https://unpkg.com/networked-aframe/dist/networked-aframe.js"></script>
  <script src="public/js/script.js"></script>
  <script src="https://rawgit.com/protyze/aframe-curve-component/master/dist/aframe-curve-component.min.js"></script>
  <script src="https://rawgit.com/protyze/aframe-alongpath-component/master/dist/aframe-alongpath-component.min.js"></script>
</head>
<body>
  <!-- MENUBAR -->
  <header class="header">
    <h1 class="header__title">WebVR Defender</h1>
    <button id="butQRCode" class="butQRCode headerButton" title="Get page QR code"></button>
  </header>

  <!-- CONTENT CONTAINERS -->

  <div id="loaderDiv" class="dialog-container make-container--visible">
    <img class="loader" src="public/assets/icons/loader.gif" />
  </div>

  <div id="qrCodeDiv" class="dialog-container">
    <span id="closeQRCode" class="small close rounded heavy"></span>
    <div id="qrcode"></div>
  </div>

  <!-- A-FRAME ELEMENTS -->

  <a-scene fog="color: white; near: 0; far: 85;" networked-scene="app: myApp;room: room1;debug: true;onConnect: onConnectCB;">
    <a-assets>
      <a-asset-item id="monster-obj" src="public/assets/models/monster/model.obj"></a-assets-item>
      <a-asset-item id="monster-mtl" src="public/assets/models/monster/materials.mtl"></a-assets-item>
      <a-asset-item id="terrain-obj" src="public/assets/models/terrain/model.obj"></a-assets-item>
      <a-asset-item id="terrain-mtl" src="public/assets/models/terrain/materials.mtl"></a-assets-item>
      <a-asset-item id="turet-obj" src="public/assets/models/turet/model.obj"></a-assets-item>
      <a-asset-item id="turet-mtl" src="public/assets/models/turet/materials.mtl"></a-assets-item>

      <audio id="laser-sound" src="public/assets/sounds/Laser_Cannon-Mike_Koenig-797224747.mp3" preload="auto"></audio>
      <audio id="monster-sound" src="public/assets/sounds/Zombie_In_Pain-SoundBible.com-134322253.mp3" preload="auto"></audio>
      <audio id="wind-sound" src="public/assets/sounds/Wind-Mark_DiAngelo-1940285615.mp3" preload="auto"></audio>

      <script id="tower-template" type="text/html">
        <a-entity class="tower">
          <a-box class="building" color="#5985ff" height=5></a-box>
        </a-entity>
      </script>
    </a-assets>
    <a-entity sound="src: url(public/assets/sounds/Wind-Mark_DiAngelo-1940285615.mp3); autoplay:true; loop:true;"></audio>

    <a-curve id="monster-track">
      <a-curve-point position="10 -6 -59"></a-curve-point>
      <a-curve-point position="18 0 -29"></a-curve-point>
      <a-curve-point position="20 2 0"></a-curve-point>
      <a-curve-point position="-21 -2 22"></a-curve-point>
      <a-curve-point position="-4 -1 67"></a-curve-point>
    </a-curve>
    
    <a-entity id="slot0" position="-5 9 -5">
	    <a-obj-model src="#turet-obj" mtl="#turet-mtl" scale="5 5 5"></a-obj-model>
    </a-entity>
    <a-entity id="slot1" position="50 33 -40">
	    <a-obj-model src="#turet-obj" mtl="#turet-mtl" scale="5 5 5"></a-obj-model>
    </a-entity>
    <a-entity id="slot2" position="25 20 35">
	    <a-obj-model src="#turet-obj" mtl="#turet-mtl" scale="5 5 5"></a-obj-model>
    </a-entity>
    <a-entity id="slot3" position="-60 51 34">
	    <a-obj-model src="#turet-obj" mtl="#turet-mtl" scale="5 5 5"></a-obj-model>
    </a-entity>

    <a-obj-model src="#terrain-obj" mtl="#terrain-mtl" position="0 11 0" scale="100 100 100"></a-obj-model>

    <!-- should be a pool instead -->
    <a-obj-model src="#monster-obj" mtl="#monster-mtl" enemy alongpath="curve: #monster-track; loop:true; dur:30000;"></a-obj-model>
    <a-obj-model src="#monster-obj" mtl="#monster-mtl" enemy scale="6 6 6" alongpath="curve: #monster-track; loop:true; dur:35000; rotate:true;"></a-obj-model>
    <a-obj-model src="#monster-obj" mtl="#monster-mtl" enemy scale="4 3 4" alongpath="curve: #monster-track; loop:true; dur:20000;"></a-obj-model>

    <a-sky color="#3f51b5"></a-sky>
  </a-scene>

  <!-- SCRIPTS -->

  <script src="public/js/qrcode.js"></script>
  <script src="public/js/ui-script.js"></script>
</body>
</html>
