<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebVR Defender</title>
  <link rel="stylesheet" type="text/css" href="public/styles/inline.css">

  <link rel="icon" type="image/ico" href="public/assets/icons/favicon.ico"/>

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="WebVR Defender">
  <link rel="apple-touch-icon" href="public/assets/icons/icon-128x128.png">

  <meta name="msapplication-TileImage" content="public/assets/icons/icon-128x128.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  <script src="public/js/socket.io.js"></script>
  <script src="https://aframe.io/releases/0.6.1/aframe.js"></script>
  <script src="public/js/easyrtc.js"></script>
  <script src="public/js/script.js"></script>
  <script src="https://rawgit.com/protyze/aframe-curve-component/master/dist/aframe-curve-component.min.js"></script>
  <script src="https://rawgit.com/protyze/aframe-alongpath-component/master/dist/aframe-alongpath-component.min.js"></script>

</head>
<body>
  <!-- MENUBAR -->
  <header class="header">
    <h1 class="header__title">WebVR Defender</h1>
    <button id="butQRCode" class="butQRCode headerButton" title="Get page QR code"></button>
  </header>

  <!-- CONTENT CONTAINERS -->

  <div id="loaderDiv" class="dialog-container make-container--visible">
    <img class="loader" src="public/assets/icons/loader.gif" />
  </div>

  <div id="qrCodeDiv" class="dialog-container">
    <span id="closeQRCode" class="small close rounded heavy"></span>
    <div id="qrcode"></div>
  </div>

  <!-- A-FRAME ELEMENTS -->

  <a-scene fog="color: white; near: 0; far: 105;" game-client game-dynamics-parameters>
    <a-assets>
      <a-asset-item id="monster-obj" src="public/assets/models/monster/model.obj"></a-assets-item>
      <a-asset-item id="monster-mtl" src="public/assets/models/monster/materials.mtl"></a-assets-item>
      <a-asset-item id="terrain-obj" src="public/assets/models/terrain/model.obj"></a-assets-item>
      <a-asset-item id="terrain-mtl" src="public/assets/models/terrain/materials.mtl"></a-assets-item>
      <a-asset-item id="turet-obj" src="public/assets/models/turet/model.obj"></a-assets-item>
      <a-asset-item id="turet-mtl" src="public/assets/models/turet/materials.mtl"></a-assets-item>
      <a-asset-item id="drakar-obj" src="public/assets/models/drakar/model.obj"></a-assets-item>
      <a-asset-item id="drakar-mtl" src="public/assets/models/drakar/materials.mtl"></a-assets-item>
      <a-asset-item id="dragon-obj" src="public/assets/models/dragon/model.obj"></a-assets-item>
      <a-asset-item id="dragon-mtl" src="public/assets/models/dragon/materials.mtl"></a-assets-item>

      <script id="tower-template" type="text/html">
        <a-entity class="tower">
          <a-entity obj-model="obj: #turet-obj; mtl: #turet-mtl" rotation="0 180 0" scale="3 3 3"></a-entity>
        </a-entity>
      </script>
      <script id="enemy-template" type="text/html">
        <a-entity class="enemy"><a-sphere color="gree"></a-sphere></a-entity>
      </script>
    </a-assets>
    <a-entity sound="src: url(http://vatelier.net/MyDemo/WebVRDefender/public/assets/sounds/Wind-Mark_DiAngelo-1940285615.mp3); autoplay: true; loop:true;"></a-entity>

    <a-entity map>
      <a-entity slot-threedof >
        <a-entity id="slot0" position="-9.5 13.6 -12"></a-entity>
        <a-entity id="slot1" position="43.6 8.7 -41"></a-entity>
        <a-entity id="slot2" position="28 13.8 -22.7"></a-entity>
        <a-entity id="slot3" position="-43.2 28.7 -12.9"></a-entity>
      </a-entity>
      <a-curve id="monster-track" curve="">
	      <a-curve-point position="1.181 1.682 -50.581" curve-point=""></a-curve-point>
	      <a-curve-point position="31.907 0 -42.353" curve-point=""></a-curve-point>
	      <a-curve-point position="20 1 -29" curve-point=""></a-curve-point>
	      <a-curve-point position="20 3.625 0" curve-point=""></a-curve-point>
	      <a-curve-point position="-21 0.508 22" curve-point=""></a-curve-point>
	      <a-curve-point position="-17.74 1.31 54.772" curve-point=""></a-curve-point>
      </a-curve>
      <a-curve id="dragon-track" curve="">
	      <a-curve-point position="31.907 30 -92.353" curve-point=""></a-curve-point>
	      <a-curve-point position="-21.496 15 -45.13" curve-point=""></a-curve-point>
	      <a-curve-point position="-35.7 29.321 -24.217" curve-point=""></a-curve-point>
	      <a-curve-point position="-26.953 24.066 -3.803" curve-point=""></a-curve-point>
	      <a-curve-point position="20 35 30.235" curve-point=""></a-curve-point>
	      <a-curve-point position="-7.423 24.405 49.507" curve-point=""></a-curve-point>
	      <a-curve-point position="-7.423 30 59.895" curve-point=""></a-curve-point>
	      <a-curve-point position="-7.423 20 89.895" curve-point=""></a-curve-point>
      </a-curve>
    </a-entity>

    <a-obj-model src="#terrain-obj" mtl="#terrain-mtl" position="0 11 0" scale="100 100 100"></a-obj-model>

    <!-- should be a pool instead -->
    <a-entity enemy-pool></a-entity>

    <a-entity goal position="-17 5 80" scale="50 50 50"></a-entity>

    <a-obj-model src="#drakar-obj" mtl="#drakar-mtl" position="0 1 -50" scale="10 10 10" rotation="0 -90 -10">
	    <a-animation attribute="rotation" dur="10000" to="0 -90 10" repeat="indefinite" direction="alternate"></a-animation>
    </a-obj-model>

    <a-sky color="white"></a-sky>
  </a-scene>

  <!-- SCRIPTS -->

  <script src="public/js/qrcode.js"></script>
  <script src="public/js/ui-script.js"></script>
</body>
</html>
